@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Abhaya Libre', Arial, Helvetica, sans-serif;
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
    /* font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif; */
}

a {
    text-decoration: none;
    color: #515151;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

p {
    line-height: 1.8rem;
}

.btn {
    color: #515151;
    min-width: 180px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    background-color: whitesmoke;
}

.btn:hover {
    background-color: #e1cda0;
    
}

/* Farben

--wc-orange: #ffba00
--wc-primary: #af5b5b
--wc-secondary: #ebe9eb
--wc-secondary-text: #515151
--wc-subtext: #767676
       hover: #e1cda0

*/

/* Header-Bereich */

header {
    display: flex;
    max-height: 280px;
}
header > .row {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    /* background-color: aqua; */
}

header > .row .col:first-child, header > .row .col:last-child {
    width: 240px;
}

header > .row .col:last-child {
    display: flex;
    justify-content: flex-end;
}

header > .row .col:first-child > span {
    text-transform: uppercase;
    color: #515151;
}

header > .row .col:first-child > i {
    margin: 0 10px;
    color: #af5b5b;
}


header > .row .col:last-child > i {
    margin: 0 10px;
}

header > .row .col:last-child > span {
    color: #515151;
}

body > header > .header-row-1 {
    display: none;
}

/* Rows auf display flex */

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/* Navigation */

nav {
    background-color: #af5b5b;
    display: flex;
}

nav > .row {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

nav > .row > .col {

    display: flex;
}

nav > .row > .col ul {
    height: 4rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    flex-wrap: wrap;
}

nav > .row > .col ul li {
    display: flex;
    margin: 0 30px;
    flex-wrap: wrap;
    align-items: center;

}

nav > .row > .col ul li a {
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: whitesmoke;
}

nav > .row > .col ul li a:visited {
    color: whitesmoke;
}

nav > .row > .col ul li a:hover {
    color: #ffba00;
}




@media only screen and (max-width:1024px){
    header > .row img {
        width: 190px;
    }

    nav > .row > .col ul li {
        margin: 0 20px;
    }

}

.menu-btn {
    display: none;
}

/* Banner */

.banner > .row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.banner > .row > .col {
    height: 600px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    background-image: url(./images/steak.jpg);
    background-position: center;
    background-size: cover;
    min-height: 600px;
    color: whitesmoke;
}

.banner > .row > .col > span {
    text-transform: uppercase;
}

.banner > .row > .col > h1 {
    margin: 20px auto;
    font-size: 5rem;
    font-family: 'Abhaya Libre', Arial, Helvetica, sans-serif;
}

/* Drei Links Minus-Margin */

.minus-margin-links {
    display: flex;
    width: 100%;
}

.minus-margin-links > .row {
    margin-top: -34px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.minus-margin-links > .row > .col {
    min-width: 260px ;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid #ebe9eb;
    padding: 0 20px;
    text-align: center;
}

.minus-margin-links > .row > .col > a > i {
    display: inline-block;
    margin: 0 10px;
}

.country-butcher {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

.country-butcher > .row {
    padding:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.country-butcher > .row > .col {
    max-width: 400px;
}

.country-butcher > .row > .col:first-of-type {
    margin-right: 60px;
}

.country-butcher > .row > .col img {
    width: 100%;
}

.country-butcher > .row > .col span {
    text-transform: uppercase;
}

.country-butcher > .row > .col h1 {
    margin: 20px auto;
    font-size: 3rem;
    font-family: 'Abhaya Libre', Arial, Helvetica, sans-serif;
}

.country-butcher > .row > .col p {
    color: #515151;
}

.country-butcher > .row > .col a {
    color: #af5b5b;
}

.country-butcher > .row > .col i {
    margin: 20px 0;
}

/* Separator */

.separator {
    height: 315px;
    width: auto;
    background-image: url(./images/separator.png);
    background-position: top;
    background-size: cover;
}

/* Online bestellen */

.online-bestellen {
    display: flex;
    justify-content: center;
    background-color: #E7E3DA;
    padding-bottom: 40px;
}

.online-bestellen > .row {
    display: flex;
    width: 90%;
    justify-content: center;
}

.online-bestellen > .row > .col {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    align-items: flex-start;
    justify-content: space-around;

}

.online-bestellen > .row > .col h1 {
    font-size: 3rem;
    font-family: 'Abhaya Libre', Arial, Helvetica, sans-serif;
    margin: 20px 0;
}

.online-bestellen > .row > .col span {
    text-transform: uppercase;
}

.online-bestellen > .row > .col:first-of-type {
    border: 8px solid #C2A668;
    box-shadow: 0px 20px 60px 1px #6f6f6f;
    padding: 120px 140px 120px 60px;

}

.online-bestellen > .row > .col img {
    margin-left: -90px;
    width: 600px;
    height: 400px;
    -webkit-mask-image: url(./images/mask.svg)!important;
    mask-image: url(./images/mask.svg)!important;
}

.online-bestellen > .row > .col a {
    color: #af5b5b;
}

.online-bestellen > .row > .col i {
    margin: 20px 0;
}

/* Beliebte Produkte */

.beliebte-produkte {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(./images/hintergrund-beliebte-produkte.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
}

.beliebte-produkte > .row {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    /* justify-content: center; */

}

/* Beliebte Produkte --  Überschrift mit Text */

.beliebte-produkte > .row:first-of-type > .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.beliebte-produkte > .row:first-of-type > .col > span {
    text-transform: uppercase;
}

.beliebte-produkte > .row:first-of-type > .col > h1 {
    font-size: 3rem;
    font-family: 'Abhaya Libre', Arial, Helvetica, sans-serif;
    margin: 20px 0;
}

.beliebte-produkte > .row:first-of-type > .col > p {
    padding: 0 140px;
}

/* Beliebte Produkte -- 3 Bilder */

.beliebte-produkte > .row:nth-of-type(2)  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.beliebte-produkte > .row:nth-of-type(2) > .col {
    border: 8px solid #C2A668;
    padding: 10px 10px 20px 10px;
    max-width: 340px;
    text-align: center;
    margin: 10px auto;
}

.beliebte-produkte > .row:nth-of-type(2) > .col > img {
    width: 100%;
}

.beliebte-produkte > .row:nth-of-type(2) > .col > h2 {
    font-size: 2rem;
    font-family: 'Abhaya Libre', Arial, Helvetica, sans-serif;
    margin: 20px 0;
}

.beliebte-produkte > .row:nth-of-type(2) > .col > span {
    color: #af5b5b;
}

/* Beliebte Produkte -- Button */

.beliebte-produkte > .row:nth-of-type(3)  {
    display: flex;
    justify-content: center;
}

.beliebte-produkte > .row:nth-of-type(3) > .col  {
    padding: 40px;
}

.beliebte-produkte > .row:nth-of-type(3) > .col > a {
    background-color: #C2A668;
    color: whitesmoke;
}

.beliebte-produkte > .row:nth-of-type(3) > .col > a:hover {
    background-color: #af5b5b;
}

/* Newsletter */

.newsletter {
    display: flex;
    min-height: 500px;
    background-image: url(./images/hintergrund-newsletter.jpg);
    background-position: top;
    background-size: cover;
}

.newsletter > .row {
    padding: 30px 0;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0, 0.822);
    color: whitesmoke;
    text-align: center;
}

.newsletter > .row > span {
    text-transform: uppercase;
}

.newsletter > .row > h2 {
    font-size: 2rem;
    font-family: 'Abhaya Libre', Arial, Helvetica, sans-serif;
    margin: 20px 0;
}

.newsletter > .row > p {
    padding: 0 140px;
}

.newsletter > .row > form > input {
    padding: 12px;
    border-radius: 0;
    border: none;
    width: 260px;
    margin: 20px 0;
}

.newsletter > .row > form > button {
    padding: 12px;
    border-radius: 0;
    border: none;
    width: 285px;
}

footer {
    display: flex;
    background-color: whitesmoke;
    padding: 60px;
}

footer > .row {
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
}

footer img {
    width: 200px;
}

footer > .row > .col {
    display: flex;
    flex-direction: row;
}

footer > .row > .col:first-of-type  {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

footer ul {
    list-style: none;
    text-transform: uppercase;
}

footer ul > li {
    margin: 10px 0;
}

footer ul > li > a {
    color: #515151 ;
}

footer ul > li > a:hover {
    color: #af5b5b;
}

@media only screen and (min-width: 1700px) {
    .beliebte-produkte > .row:first-of-type > .col > p,
    .newsletter > .row > p {
        padding: 0 400px;
    }
}


@media only screen and (max-width: 1100px){

    footer > .row > .col:nth-of-type(2),
    footer > .row > .col:nth-of-type(3),
    footer > .row > .col:nth-of-type(4) {
        display: none;
    }

    footer > .row  {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: flex-start;   
    }

    footer > .row > .col {

        margin-top: 20px; 

    }

}



@media only screen and (max-width: 1170px){
    
    .online-bestellen > .row > .col img {
        display: none;
    }

    .online-bestellen > .row {
        flex-direction: column;
    }
    .online-bestellen > .row > .col {
        justify-content: center;
        align-items: center;
        padding: 60px;
    }
    html > body > .online-bestellen > .row > .col:first-of-type {
        text-align: center;
        padding: 60px;
    }

}

@media only screen and (max-width:924px){

    body > .minus-margin-links > .row {
        flex-direction: column;
    }
    body > .minus-margin-links > .row > .col {
        margin-bottom: 30px;
        width: 80%;
}

}

@media only screen and (max-width:1024px){

    .banner > .row > .col > h1 {
        text-align: center;
        font-size: 3.6rem;
    }

}

@media only screen and (max-width: 706px){
    body > header > .row {
        display: none;
    }

    header > .row .col:first-child, header > .row .col:last-child {
        max-width: 240px;
    }

    html > body > header > .header-row-1 {
        display: flex;
        justify-content: center;
        /* background-color: lightblue; */
        align-items: center!important;
    }

    body > header > .header-row-1 img {
        max-width: 100%;
    }

    nav > .row > .col ul {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        justify-content: center;
        margin-top: -2450px;
        transition: all 0.5s ease;
    }

    nav > .row > .col ul li {
        margin: 30px auto;
    }

    nav > .row > .col ul li:last-of-type {
        margin-bottom: 60px;
    }

    .relativ {
        position: relative;
    }

    .menu-btn {
        display: block;
        position: absolute;
        top: 2px;
        right: 16px;
        font-size: 2.8rem;
        font-weight: bold;
        color: whitesmoke;
        cursor: pointer;
    }
    .btn-background {
        background-color: #af5b5b;
        height: 58px;
    }

    nav > .row > .col .mobile-menu {
        margin-top: 0px;
    }

    .country-butcher > .row  {
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    .country-butcher > .row > .col:first-of-type {
        margin-right: 0px;
    }

    .country-butcher > .row > .col {
        max-width: 600px;
    }

    .country-butcher > .row > .col > img {
        margin-bottom: 30px;
    }

    html > body > .online-bestellen > .row > .col:first-of-type {
        padding: 20px;
    }

    .beliebte-produkte > .row:first-of-type > .col,
    .beliebte-produkte > .row:first-of-type > .col > p {
        padding: 20px 0;
    }

    .newsletter > .row > p {
        padding: 0 30px;
        
    }

}


